<ion-header-bar>

  <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>

</ion-header-bar>
<ion-content>
  <ion-refresher
    pulling-text="Pull to refresh..."
    on-refresh="doRefresh()">
  </ion-refresher>
  <!--轮循图片-->
  <div style="height: 130px;">
    <div class="swiper-container">
      <div class="swiper-wrapper">
        <div class="swiper-slide"><img style="width: 100%"  src="./img/main/b1.jpg"></div>
        <div class="swiper-slide"><img style="width: 100%" src="./img/main/b2.jpg"></div>
        <div class="swiper-slide"><img style="width: 100%" src="./img/main/b3.jpg"></div>

      </div>
      <!-- Add Pagination -->
      <div class="swiper-pagination"></div>
    </div>
  </div>
  <div class="list" style="height: 600px;">
    <a class="item item-thumbnail-left" href="#">
      <img src="img/main/w1.jpg">
      <h2 >话剧《生命如歌》上海站演出越演越热,男一号“陈旭刚”的董怀玉走进学生剧社.</h2>
      <p>2016年5月2日</p>
    </a>

    <a class="item item-thumbnail-left" href="#">
      <img src="img/main/w2.png">
      <h2>老文化艺术家赴代县神池扶贫采风精神传递给了乡村</h2>
      <p>2016年5月2日</p>
    </a>

    <a class="item item-thumbnail-left" href="#">
      <img src="img/main/w1.jpg">
      <h2 >话剧《生命如歌》上海站演出越演越热,男一号“陈旭刚”的董怀玉走进学生剧社.</h2>
      <p>2016年5月2日</p>
    </a>

    <a class="item item-thumbnail-left" href="#">
      <img src="img/main/w2.png">
      <h2>老文化艺术家赴代县神池扶贫采风精神传递给了乡村</h2>
      <p>2016年5月2日</p>
    </a>

    <a class="item item-thumbnail-left" href="#">
      <img src="img/main/w1.jpg">
      <h2 >话剧《生命如歌》上海站演出越演越热,男一号“陈旭刚”的董怀玉走进学生剧社.</h2>
      <p>2016年5月2日</p>
    </a>

    <a class="item item-thumbnail-left" href="#">
      <img src="img/main/w2.png">
      <h2>老文化艺术家赴代县神池扶贫采风精神传递给了乡村</h2>
      <p>2016年5月2日</p>
    </a>

  </div>
</ion-content>



  <script>
  var swiper = new Swiper('.swiper-container', {
    pagination: '.swiper-pagination',
    paginationClickable: true,
    autoPlay:true
  });
</script>


