

<ion-content>
  <ion-refresher
    pulling-text="释放刷新..."
    on-refresh="doRefresh()">
  </ion-refresher>

  <!--轮播图片-->
  <div style="height: 130px;">
    <div id="swiper2" class="swiper-container">
      <div class="swiper-wrapper">
        <div class="swiper-slide"><img style="width: 100%"  src="./img/main/b1.jpg"></div>
        <div class="swiper-slide"><img style="width: 100%" src="./img/main/b2.jpg"></div>
        <div class="swiper-slide"><img style="width: 100%" src="./img/main/b3.jpg"></div>

      </div>
      <div class="swiper-pagination"></div>
    </div>
  </div>
  <ion-list>
    <ion-item class="item-thumbnail-left item-icon-right" nav-direction="forward"  ng-repeat="new in news" type="item-text-wrap" href="#/news-detail">
      <img ng-src="{{new.face}}">
      <h2>{{new.title}}</h2>
      <p>{{new.date}}</p>
    </ion-item>
  </ion-list>
</ion-content>

<script>
  var swiper = new Swiper('#swiper2', {
    pagination: '.swiper-pagination',
    paginationClickable: true,
    autoplay: 2500,
    loop: true
  });


</script>

