<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->



<ion-side-menus>
  <!-- 中间内容 -->
  <ion-side-menu-content >

    <ion-tabs class="tabs-icon-top tabs-color-active-positive">

      <!-- Dashboard Tab -->
      <ion-tab title="主页" icon-off="ion-ios-home-outline" icon-on="ion-ios-home" href="#/tab/zy">
        <ion-nav-view name="tab-zy"></ion-nav-view>
      </ion-tab>

      <!-- Chats Tab -->
      <ion-tab title="公共文化" icon-off="ion-ios-chatboxes-outline" icon-on="ion-ios-chatboxes" href="#/tab/ggwh">
        <ion-nav-view name="tab-ggwh"></ion-nav-view>
      </ion-tab>

      <!-- Account Tab -->
      <ion-tab title="资源管理" icon-off="ion-ios-gear-outline" icon-on="ion-ios-gear" href="#/tab/zygl">
        <ion-nav-view name="tab-zygl"></ion-nav-view>
      </ion-tab>
      <ion-tab title="文化产业" icon-off="ion-ios-gear-outline" icon-on="ion-ios-gear" href="#/tab/whcy">
        <ion-nav-view name="tab-whcy"></ion-nav-view>
      </ion-tab>


    </ion-tabs>



  </ion-side-menu-content>

  <!-- 左侧菜单 -->
  <ion-side-menu side="left">


    dddddddddddd


  </ion-side-menu>


</ion-side-menus>
